.app__fields-card {
    background: rgb(190, 189, 189);
    margin-top: 0.5rem;
    height: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}